natives/
.mixin.out/
asm/
llibrary/
logs/
fonts/

mods/OptiFine*
mods/1.12.2/
mods/memory_repo/

config.json
config_new_temp.json
config.bak.json
options.txt
optionsof.txt
BotaniaVars.dat
.ReAuth.cfg
patchouli_data.json
ds_private_storage.json

OpenComputersMod*

config/*
!config/defaultsettings.json
!config/defaultsettings/