natives/
.mixin.out/
asm/
llibrary/
logs/
fonts/
coremods/
saves/
screenshots/
texturepacks/
astralsorcery/
local/
moreplayermodels/
crash-reports/
.disabled/
map exports/
XaeroWorldMap/
cache/
betweenlands_gallery/
warpDrive_schematics/
XaeroWaypoints/

mods/OptiFine*
mods/1.12.2/
mods/memory_repo/

resourcepacks/NekuTweaks/
resourcepacks/NekuExperiments/
resourcepacks/Aether b1.7.3 Textures/

config.json
config_new_temp.json
config.bak.json
options.txt
optionsof.txt
BotaniaVars.dat
.ReAuth.cfg
patchouli_data.json
ds_private_storage.json
icon.png
.curseclient
minecraftinstance.json
optionsshaders.txt
keys.txt
usercache.json
usernamecache.json

OpenComputersMod*

config/*
!config/defaultsettings.json
!config/defaultsettings/
!config/mod-director/
*.disabled
*.log
instance.json
mods/TheBetweenlands-3.8.0-universal.jar
mods/TheBetweenlands-3.8.1-universal.jar
